{% extends 'base.html' %}

{% block Start %}
<section class="movie-description">

    <div class="movie-name">
        <h2>Avanger: Endgame</h2>
        <div class="movie-rating">
            <span>67% Match</span>
            <span>U/A 16+</span>
            <span>2h 21min</span>
        </div>
    </div>
    <div class="movie-poster-trailer">
        <div class="movie-poster">
            <img src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_FMjpg_UY2048_.jpg" alt="">

        </div>
        <div class="movie-info">
            <div class="movie-catagory">
                <button><a href="#">Action</a></button>
                <button><a href="#">Scifi</a></button>
                <button><a href="#">Thriller</a></button>
            </div>
            <div class="movie-info-detail">
                <p>After Thanos, an intergalactic warlord, disintegrates half of the universe, the Avengers must reunite and assemble again to reinvigorate their trounced allies and restore balance.</p>
            </div>
        </div>
        <div class="movie-trailler">
            <iframe src="https://www.youtube.com/embed/TcMBFSGVi1c?vq=hd1080&autoplay=1&loop=1&modestbranding=1&rel=0&iv_load_policy=3&fs=0&disablekb=1&mute=1&playlist=TcMBFSGVi1c" title="Marvel Studios' Avengers: Endgame - Official Trailer" frameborder="0"></iframe>
        </div>
    </div>
    <div class="main-frame-movie-catagory">

        <div class="main-movie-catagory">
            <button><a href="#">Action</a></button>
            <button><a href="#">Scifi</a></button>
            <button><a href="#">Thriller</a></button>
        </div>
        <div class="main-movie-desc">
            <p>After Thanos, an intergalactic warlord, disintegrates half of the universe, the Avengers must reunite and assemble again to reinvigorate their trounced allies and restore balance.</p>
        </div>
    </div>
    <!-- detail section  -->
    <div class="special-thanks">
        <ul>
            <li><span>Release date</span>
                <ul>
                    <li>26 April 2019</li>
                </ul>
            </li>
            <li><span>Director</span>
                <ul>
                    <li>Anthony Russo • Joe Russo</li>

                </ul>
            </li>
            <li><span>Distibuted by</span>
                <ul>
                    <li>Walt Disney Studios Motion Pictures</li>
                </ul>
            </li>
            <li><span>Cast</span>
                <ul>
                    <li>Robert Downey Jr.</li>
                    <li>Chris Evans</li>
                    <li>Chris Hemsworth</li>
                    <li>Scarlett Johansson
                        <a href="#">more</a>
                    </li>

                </ul>
            </li>
            <li><span>Language</span>
                <ul>


                    <li>Hindi DD5.1 • English Original</li>
                </ul>
            </li>
            <li><span>Subtitle</span>
                <ul>


                    <li>English</li>
                </ul>
            </li>
            <li><span>Quality</span>
                <ul>


                    <li>720p • 1080p • 2160p 60fps </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- library section  -->

    <div id="movie-library" class="section-p1">
        <h2>Library</h2>
        <div class="pre-screenshorts">
            <div class="screenshort">
                <img src="https://s3.us-west-1.wasabisys.com/cap-that.com/movies/marvel/avengers/endgame/bluray/images/avengers-endgame(2019)_00263.jpg" alt="">
            </div>
            <div class="screenshort">
                <img src="https://s3.us-west-1.wasabisys.com/cap-that.com/movies/marvel/avengers/endgame/bluray/images/avengers-endgame(2019)_00570.jpg" alt="">

            </div>


            <div class="screenshort">
                <img src="https://s3.us-west-1.wasabisys.com/cap-that.com/movies/marvel/avengers/endgame/bluray/images/avengers-endgame(2019)_08215.jpg" alt="">

            </div>
            <div class="screenshort">
                <img src="https://s3.us-west-1.wasabisys.com/cap-that.com/movies/marvel/avengers/endgame/bluray/images/avengers-endgame(2019)_07739.jpg" alt="">

            </div>
            <div class="screenshort">
                <img src="https://s3.us-west-1.wasabisys.com/cap-that.com/movies/marvel/avengers/endgame/bluray/images/avengers-endgame(2019)_09915.jpg" alt="">

            </div>
            <div class="screenshort">
                <img src="https://s3.us-west-1.wasabisys.com/cap-that.com/movies/marvel/avengers/endgame/bluray/images/avengers-endgame(2019)_10764.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<div id="movie-download" class="section-p2">
    <h2>Download</h2>


    <p>Episode 2 added</p>


    <div class="pre-download">
        <div class="download">
            <h1>720p</h1>
            <span>700mb/E</span>
            <div class="download-links">
                <button class="download-btn">
                    <a href="#">Server 1</a>
                </button>
                <button class="download-btn">
                    <a href="#">Server 2</a>
                </button>
            </div>

        </div>
        <div class="download">
            <h1>1080p</h1>
            <span>1.4MB/E</span>

            <div class="download-links">
                <button class="download-btn">
                    <a href="#">Server 1</a>
                </button>
                <button class="download-btn">
                    <a href="#">Server 2</a>
                </button>
            </div>

        </div>
        <div class="download">
            <h1>2160p 2K</h1>
            <span>3gb/E</span>

            <div class="download-links">
                <button class="download-btn">
                    <a href="#">Server 1</a>
                </button>
                <button class="download-btn">
                    <a href="#">Server 2</a>
                </button>
            </div>

        </div>
        <div class="download">
            <h1>4K</h1>
            <span>10gb/E</span>

            <div class="download-links">
                <button class="download-btn">
                    <a href="#">Server 1</a>
                </button>
                <button class="download-btn">
                    <a href="https://vgmlinks.fun/thcmvj000330478/?token=MjRqaStKZyt4L0M2dWVWSHljVEFYaUtwUFlKVlJ1N0VFLzdUelU3WkFuNUg4Wm51U1lwR1Y0Yjd4SjNhRWx4aFM4ejUwNXQwZE1USml6cFR0aldOalZnQ1dMNS9IUFZhN09OVWpuUWZjSGVGQlhrL0pHZGhaZDRvN0dyaUFpWElDNm5uQVFVMEo0T0pmd3d4Nk5WenlYR2JZT0ljdkZpRjFvRGk4Mjc0V2F6c09hRkpTVW9kc3dIN21ldkUydlY1aUV4aVNOVE1JRnZidFp6bzFWakNXRmxHRmh3cVg2aldkZ05aeXV6YjBjVzR1SXhVRkg4YU1qb2tURlB6aDArWTc5Zi8xMFN5QjR3bzQ4RjIrTXVRYjdJa21YTkx6RThlZE1vTkRxZzZVVHF4S2JOY3dSS291UnZDUmxQR0hmeHhoMTNSQURSVDhTTk5mMmRlZ1V0ZU53PT0=">server 2</a>

                </button>
            </div>

        </div>


    </div>
</div>{% endblock Start %}
