    <section id="header">
        <a href="#" class="logo">
            <img src="/static/media/logo.png" alt="">
        </a>
        <div>
            <ul id="navbar">

                <li>
                    <a class="active" href="index.html"> Home </a>
                </li>

                <!--  choose hoverable dropdown menu or clickable menu -->
                <li class="menu-item">
                    <!-- <div class="dropdown"> -->
                    <a href="#" class="hollywood-drop">
                        Hollywood
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                          </svg>

                        </a>
                    <!-- <ul class="dropdown-menu" id="dropdownmenu"> -->
                    <ul class="drop-menu">
                        <li>
                            <a>Action</a>
                        </li>
                        <li>
                            <a>Advanture</a>
                        </li>
                        <li><a>Comedy</a></li>

                        <li>
                            <a>Fantasy</a>
                        </li>

                        <li>
                            <a>History</a>
                        </li>
                        <li>
                            <a>Horror</a>
                        </li>
                        <li>
                            <a>Thriller</a>
                        </li>
                        <li>
                            <a>Mystery</a>
                        </li>
                        <li>
                            <a>Romance</a>
                        </li>
                        <li>
                            <a>Scifi</a>
                        </li>
                        <li>
                            <a>Sports</a>
                        </li>
                    </ul>
                    <!-- <div> -->


                </li>
                <li class="menu-item">
                    <!-- <div class="dropdown"> -->
                    <a href="#">
                            TV Shows
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                              </svg>
                        </a>
                    <!-- <ul class="dropdown-menu" id="dropdownmenu"> -->
                    <ul class="drop-menu">
                        <li><a>Korian Drama (In Hindi)</a></li>
                        <li>
                            <a>Russian TV Series</a></li>
                        <li><a>Turkish Drama (In Hindi)</a></li>
                        <li>
                            <a>Ukrainian TV Series (In Hindi)</a>
                        </li>
                        <li>
                            <a>Chinese Drama (In Hindi)</a>
                        </li>

                        <li>
                            <a>Japanese Drama (In hindi)</a>
                        </li>
                        <li>
                            <a>Hindi Web Series (In hindi)</a>
                        </li>
                        <li>
                            <a>Mexican TV Series (In hindi)</a>
                        </li>
                        <li>
                            <a>French TV Series (In hindi)</a>
                        </li>
                        <li>
                            <a>Colombian TV Series (In hindi)</a>
                        </li>



                    </ul>
                    <!-- </div> -->
                    <!-- <a href="#"> TV Shows</a> -->
                </li>
                <li>
                    <a href="/netflix.html"> Netflix</a>
                </li>
                <li>
                    <a href="#"> Disney + </a>
                </li>
                <li>
                    <a href="#"> Amazon Prime</a>

                </li>


                <a href="#" id="close">
                    <i class="fa-solid fa-xmark"></i>
                </a>


            </ul>

        </div>
        <div id="search-nav">
            <form action="" method="get">
                <input type="search" name="search" placeholder="Search" autocomplete="on">
                <button href="" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search svgimg" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
                <!-- <button type="submit ">Search</button> -->
            </form>
        </div>
        <div class="hamburger">

            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </section>
