{% extends 'base.html' %}

{% block Start %}
<!-- {% include 'preloader.html' %} -->

<!-- hot thrills section -->
<section id="hot-thrills">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="background-color:black;">
            <div class="carousel-item video-slider" data-bs-interval="10000">
                <video src="/media/media/The Dark Knight Rises - Official Teaser Trailer [HD].mp4" preload="auto" class="video" autoplay muted poster="/static/media/stranger-things-bicycle-tv-netflix-wallpaper-preview.jpg"></video>
                <div class="carousel-caption">
                    <div class="procont">

                        <div class="movie-head">
                            <div class="moviedescription">
                                <h1 style="color: red;">stranger thing</h1>
                                <p>
                                    In 1980s Indiana, a group of young friends witness supernatural forces and secret government exploits. As they search for answers, the children unravel a series of extraordinary mysteries.

                                </p>
                                <div class="time-imdb-rating">
                                    <span>IMDb 9.1</span><span>2h 58min</span><span>2023</span>
                                </div>

                                <div class="catogery">
                                    <ul>
                                        <li>
                                            <a href="#">Science fiction</a>
                                        </li>
                                        <li>
                                            <a href="#">Horror</a>
                                        </li>
                                        <li>
                                            <a href="#">Thriller</a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="info-trailler-btn">
                                    <button class="watch-trailler watch-trailler-1" data-video-id="g8evyE9TuYk">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                          </svg>
                                          Watch Trailler
                                    </button>
                                    <button class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>More info</button>
                                </div>


                            </div>
                            <div class="ratings">
                                <button class="clip-audio mute-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-mute" viewBox="0 0 16 16">
                                        <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zM6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96V5.04zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"/>
                                      </svg></button>
                                <span class="maturity-rating">
                                    <span class="maturity-number">U/A 18+</span></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class=" carousel-item" data-bs-interval="10000">
                <video src="/media/media/extraction.mp4" class="video" autoplay loop muted poster="/static/media/extraction2.jpg" preload="auto"></video>
                <div class="carousel-caption">
                    <div class="procont">

                        <div class="movie-head">
                            <div class="moviedescription">
                                <h1 style="color: rgb(46, 52, 55);">Extraction 2</h1>
                                <p>
                                    Back from the brink of death, commando Tyler Rake embarks on a dangerous mission to save a ruthless gangster's imprisoned family.

                                </p>
                                <div class="time-imdb-rating">
                                    <span>IMDb 9.1</span><span>2h 58min</span><span>2023</span>
                                </div>

                                <div class="catogery">
                                    <ul>
                                        <li>
                                            <a href="#">Science fiction</a>
                                        </li>
                                        <li>
                                            <a href="#">Horror</a>
                                        </li>
                                        <li>
                                            <a href="#">Thriller</a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="info-trailler-btn">
                                    <button class="watch-trailler watch-trailler-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                          </svg> Watch Trailler
                                    </button>
                                    <button class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>More info</button>
                                </div>

                            </div>
                            <div class="ratings">
                                <button class="clip-audio mute-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-mute" viewBox="0 0 16 16">
                                        <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zM6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96V5.04zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"/>
                                      </svg></button>
                                <span class="maturity-rating">
                                    <span class="maturity-number">U/A 18+</span></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="carousel-item active" data-bs-interval="10000">
                <video src="/media/media/extraction.mp4" class="video" autoplay loop muted poster="/static/media/moneyheist.webp" preload="auto"></video>

                <div class="carousel-caption">
                    <div class="procont">

                        <div class="movie-head">
                            <div class="moviedescription">
                                <h1 style="color: rgb(190, 191, 191);">Money heist</h1>
                                <p>
                                    An unusual group of robbers attempt to carry out the most perfect robbery in Spanish history - stealing 2.4 billion euros from the Royal Mint of Spain.
                                </p>
                                <div class="time-imdb-rating">
                                    <span>IMDb 9.1</span><span>2h 58min</span><span>2023</span>
                                </div>

                                <div class="catogery">
                                    <ul>
                                        <li>
                                            <a href="#">Science fiction</a>
                                        </li>
                                        <li>
                                            <a href="#">Horror</a>
                                        </li>
                                        <li>
                                            <a href="#">Thriller</a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="info-trailler-btn">
                                    <button class="watch-trailler watch-trailler-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                          </svg>
                                          Watch Trailler
                                    </button>
                                    <button class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>More info</button>
                                </div>

                            </div>
                            <div class="ratings">
                                <button class="clip-audio mute-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-mute" viewBox="0 0 16 16">
                                        <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zM6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96V5.04zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"/>
                                      </svg></button>
                                <span class="maturity-rating">
                                    <span class="maturity-number">U/A 18+</span></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" fdprocessedid="lgpeob">
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" fdprocessedid="aq0ris">
      <span class="visually-hidden">Next</span>
    </button>
    </div>


</section>

<!-- trending section ------------------------------------------------------------------- -->

<section id="trending-movies-slider">
    <div class="trending-movie-head" data-direction="right" data-speed="slow">


        <div class="trending-movie-content">
            <img onclick="window.location.href='https://www.netflix.com/browse'" src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABXLoBv8J379BLm83bQ0blp1e9MaAHGP0i2tL4QPrLWMi9sSaphq9DaEa5kL4O8o3ycAL7O9kGnPPN_ZCCvTrh-J_orhlR0kVMGq6l5ktoBvi6wml72BK1ZM47FGNFRvqscHH.jpg?r=07c"
                alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABZQEjP9h5ky-T5mUehpFTXnR5nO9OW3kUZmjfABhAEBWAbFFdy4R3gs26v4nPbT78XPWLSBiwBb4Y5lQGvFF2CV7R6neuN2xA4gRbNrQSCnxqwcOzUPXD4SeoZC4SEKAMes-.jpg?r=ae8" alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABVxXVQ7mTEp6K93bDiADT_XKBIYK462o1pu167bk_PFdQpnh89gMO9kYtxI77cGz_g2KrnlZYpkAdmWK3ZZ7NxMQpm4yB7uZ65Z0ydF4NNmqym2mCEOezHm7KF6fhTmaxJOk.jpg?r=3a5" alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABQc3XjBqXjeq3vhbufOClxCEzER3_4mVV36gDPgpwOKpDCigU-LAbatn7FsJiPBh6VyrUxwbMrntmN80Fq0Yan-sW6azoDsWl9QDBEjBjYjcSYaTSBJ4Kcz5t69j2u1pM_Ob.jpg?r=082" alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABaUEgT12HNo4BQCdd4IfrwHJqd952EoTDGFEggdvtkgDFpi0ot-Rwxv1xOUUdwWmPmTf4TQLPkhgSSxox31CYaCY7ENve7ssBy_5yLWjKPrnXEPnCetUlP_q00o5F4axtJ5wQ7Isz48ZI1SAgx9MuNhedFm8E2K8GE50gdrw6xrIJpY-3smsRWqe9JQCAmI.jpg?r=cca"
                alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWBgKNsLo6EECdsaI632R9PI7zpwnu_I4J6Q_bYyPzd3DBsPLNnbIJqaf-xy46ekLBGJSnhYIcOvKk6HjkLNc_EXNURHIDuo08Z1i-3-s8ory_YRrRWT1McQrxcKL5p-g3fO.jpg?r=bb3" alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABfSvZOwwxxlqAlcO_pqUpYBxK-jEXueZR1CsxVL_VJ88M9yfuZF_RE3u7Iazl5sv2gsxAt2uTQQM3e61Z_aOl5m7DzvljKe0mWbHtgb6q0CxFHzjEwfXNipC_L70nBsy-U_l.jpg?r=bf0" alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABRwYx0QFQxNI_I8IUj2id-VFYkOHUEvS-FVh_oxIVFEbUCxYa77VNDfFIna9sYU635f52Oldo1bEnhZsLkcD_gC6Oztuwd0KM98.webp?r=c27" alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWj2R1xYilBDLEBqNB5-0EHngWV9W78s6itvaoiq_QGX3dV19pj17hpBx_gaw9KeuE29prtkXHna9W_6rsiS8gaVP0GSe7DoLGQ.webp?r=18d" alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABVVBefzzb0fZRln5fGdbTRgA36U6DGx_DREST_G13nc_wthS0FNli_QP-4VGIYiA5mUG2eHkpW3oy40Xnla9LBrejki0Dtx_LNx7-W_cxCgoV3nxqPCkuhelZNT__Oflm2Ae.jpg?r=31e" alt="" />
            <img src="https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABbzBukwj-wl3qePSdFwS-Nwy6BGO7tIdqQ0oFSWYKqpdhrmIcLeD0CYnBd81oVLyS7eu5sROjfsOCmJmxso3w8xcqDcCdNitNN6nUpm2nLIKIbB7PUAsftFJnfhUpQk0tEi0.jpg?r=8a4" alt="" />


        </div>
    </div>
</section>

<!--  main ----------------------------------------------------------------------------  -->

<section id="main-section">
    <h1>New Release !</h1>
    <section id="submain_section">
        <div class="latest-movies">
            <div class="movie-container" title="Loki full hd movie download ">
                <div class="sub-movie-container">
                    <a href="{% url 'detail' %}">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="sub-container-desc">
                    <div class="movie-desc-overlay">
                        <div class="overlay-trailler">
                            <iframe src="https://www.youtube-nocookie.com/embed/ndl1W4ltcmg?start=3&end=56&vq=hd1080&autoplay=1&mute=1&loop=1&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white&disablekb=1&playlist=ndl1W4ltcmg" width="545" height="300" title="THE WITCHER | MAIN TRAILER | NETFLIX"
                                frameborder="0"></iframe>
                        </div>
                        <div class="overlay-description">
                            <div class="overlay-trailler-moreinfo-btn">
                                <button class="watch-trailler-1" data-video-id="ndl1W4ltcmg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                    </svg>
                                </button>
                                <button onclick="window.location.href='/detail/'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
                                </svg>
                                 </button>
                                <h5>LOKI</h5>
                            </div>
                            <div class="overlay-movie-info-short">
                                <span>67% Match</span> <span>u/a 18+</span>
                                <span>2h 23min</span>
                            </div>
                            <div class="overlay-movie-catagory">
                                <span><a href="#">Action </a></span>
                                <span><a href="#">Horror </a></span>
                                <span><a href="#">Advanture</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-container">
                <div class="sub-movie-container" onclick="window.location.href='movie.html'">
                    <img src="https://vegamovies.zip/wp-content/uploads/2023/04/Love-Is-Blind-200x300.jpg" alt="loki" />
                </div>
                <div class="sub-container-desc">
                    <div class="movie-desc-overlay">
                        <div class="overlay-trailler">
                            <iframe src="https://www.youtube-nocookie.com/embed/ndl1W4ltcmg?start=3&end=56&vq=hd1080&autoplay=1&mute=1&loop=1&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white&disablekb=1&playlist=ndl1W4ltcmg" width="545" height="300" title="THE WITCHER | MAIN TRAILER | NETFLIX"
                                frameborder="0"></iframe>
                        </div>
                        <div class="overlay-description">
                            <div class="overlay-trailler-moreinfo-btn">
                                <button class="watch-trailler-1" data-video-id="ndl1W4ltcmg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                </svg>
                            </button>
                                <button onclick="window.location.href='movie.html'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
                                </svg>
                            </button>
                            </div>
                            <div class="overlay-movie-info-short">
                                <span>67% Match</span> <span>u/a 18+</span>
                                <span>2h 23min</span>



                            </div>
                            <div class="overlay-movie-catagory">
                                <span><a href="#">Action </a></span>
                                <span><a href="#">Horror </a></span>
                                <span><a href="#">Advanture</a></span>

                            </div>

                        </div>
                    </div>
                </div>





            </div>


        </div>
        <div id="latest_movie_updates">

            <div class="latest_movie_update_container" id="latest_movie_update_container">
                <h3>Latest Update !</h3>
                <div class="latest_movie_update_item">



                    <p>Date: 2023-10-18</p>



                    <p>We are excited to announce the launch of our new product! This innovative solution will revolutionize the way you [describe the product].</p>


                </div>
                <div class="latest_movie_update_item">

                    <h3>Company News</h3>

                    <p>Date: 2023-10-18</p>

                    <p>We are excited to announce the launch of our new product! This innovative solution will revolutionize the way you [describe the product].</p>

                    </marquee>
                </div>
                <!-- Add more initial update items as needed -->
            </div>
        </div>

    </section>
    <!-- pagination ---------------------------------  -->
    <nav aria-label="..." class="pagination-container">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</section>

<!--  movie poster ------------------------------------------------------------------  -->
<section class="movie-poster">
    <div class="movie-poster-img">
        <img src="/media/media/passificrim.jpg" alt="">

    </div>
    <div class="movie-poster-banner">
        <div class="movie-poster-banner-img">
            <img src="https://media-cache.cinematerial.com/p/500x/vhfousbg/pacific-rim-movie-poster.jpg?v=1478178883" alt="loki" />

        </div>
        <div class="movie-poster-banner-detail">
            <p class="movie-poster-banner-detail-img">
                <img src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" alt="">
            </p>
            <span>8.5</span>
            <p class="release-date">
                2008
            </p>
            <h2>PACAFIC RIM</h2>
            <p class="movie-poster-banner-detail-para">
                The government assumes the Jaegers, robotic war machines battling the Kaijus, to be ineffective. However, Stacker Pentecost's team believes that only the Jaegers can save the world from destruction.
            </p>
            <div class="info-trailler-btn movie-poster-banner-detail-btn">
                <button class="watch-trailler watch-trailler-1" data-video-id="5guMumPFBag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                          </svg>
                          Watch Trailler
                    </button>
                <!-- <button class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>More info</button> -->
            </div>
        </div>
    </div>

</section>

<!-- catagories shortcuts -----------------------------------------------------------  -->
<section class="catagories-shortcuts">
    <main class="catagory">
        <h2 class="thumbTitle">Scifi</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>
    <main class="catagory">
        <h2 class="thumbTitle">Scifi</h2>
        <span style="text-align: right;"><a href="#" style="text-decoration: none; color:rgba(63, 63, 63, 0.883); font-weight:600; font-size:16px;">More<i class="fa-solid fa-chevron-right" style="padding-left:5px; font-size:16px;"></i></a></span>
        <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/7030/1607030-v-924e1d5a7914" alt="loki" />
                    </a>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </main>

</section>

<!--  movie poster ------------------------------------------------------------------  -->
<section class="movie-poster">
    <div class="movie-poster-img">
        <img src="/media/media/passificrim.jpg" alt="">

    </div>
    <div class="movie-poster-banner">
        <div class="movie-poster-banner-img">
            <img src="https://media-cache.cinematerial.com/p/500x/vhfousbg/pacific-rim-movie-poster.jpg?v=1478178883" alt="loki" />

        </div>
        <div class="movie-poster-banner-detail">
            <p class="movie-poster-banner-detail-img">
                <img src="https://cdn.freebiesupply.com/images/large/2x/imdb-logo-transparent.png" alt="">
            </p>
            <span>8.5</span>
            <p class="release-date">
                2008
            </p>
            <h2>PACAFIC RIM</h2>
            <p class="movie-poster-banner-detail-para">
                The government assumes the Jaegers, robotic war machines battling the Kaijus, to be ineffective. However, Stacker Pentecost's team believes that only the Jaegers can save the world from destruction.
            </p>
            <div class="info-trailler-btn movie-poster-banner-detail-btn">
                <button class="watch-trailler watch-trailler-1" data-video-id="5guMumPFBag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                          </svg>
                          Watch Trailler
                    </button>
                <!-- <button class="more-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>More info</button> -->
            </div>
        </div>
    </div>

</section>

{% endblock%}
